<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="data source=192.168.80.8;initial catalog=MESP_TEST;password=2696Iron2818;user id=sa" />
		<add name="HanaConnectionString" connectionString="" />
	</connectionStrings>
	<appSettings>
		<add key="SAPClientID" value="100" />
		<add key="SAPWERKS" value="2100" />
		<add key="LoginUrl" value="https://mesp.irf.biz" />
		<add key="SAPBAPI.GetRfcData" value="" />
		<add key="SAPBAPI.WM" value="" />
		<add key="IsEnableAutoJudgmentForTicketQuarantine" value="true" />
		<add key="ElectrophoresisModuleAccessIP" value="" />
		<add key="ElectrophoresisModuleAccessAccount" value="P00321|P00093|P00171" />
		<add key="SynchronizeSAPMODataMaxDays" value="365" />
		<add key="EDProcessFirstDeviceID" value="" />
		<add key="UserAdminAccounts" value="P00171|P00042|P00093|P00118" />
		<add key="ShiftLeaderAccounts" value="P00027" />
	</appSettings>
	<!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Sap.Data.Hana.v4.5, Version=2.11.14.0, Culture=neutral, PublicKeyToken=0326B8EA63DB4BC4" />
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<httpRuntime executionTimeout="9999999" maxRequestLength="2097151" maxQueryStringLength="20480" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<staticContent>
			<mimeMap fileExtension=".bcmap" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
		</staticContent>
		<directoryBrowse enabled="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>